
html, body
{
  padding: 0;
  margin: 0;
  margin-left: 0%;
  height: 100%;
  background: rgb(242,242,242);
}

.map
{
	height:75%;
	width:100%;
}

.latlong
{
  font-family:  arial;
  font-size: 12px;
  background-color:  rgb(242,242,242);  
}
img
{
  height: 10%;
  width: 100%;

}
input[type=text] {
    background-color: rgb(242,242,242);
    color: black;
    border: none;
    padding: 1px 1px;
    font-family: "arial";

}

#clear_shapes,
#save_encoded,
#save_raw,
#restore,
#ingresar_pozo,
#insertar_pozo,
#resetear_pozo,
#guardar,
#resetear {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 2.5px 2.5px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
}

#save_encoded {
    background: rgb(28, 184, 65); 
}

#clear_shapes {
    background: rgb(202, 60, 60); 
}

#restore {
    background: rgb(223, 117, 20); 
}

#save_raw {
    background: rgb(66, 184, 221); 
}

#insertar_pozo, #guardar {
  background: rgb(57,57,57);
  margin-left: 25px;
}

#resetear_pozo, #resetear {
  background: #737373;
  margin-left: 5px;
}

.styling {
  background: rgb(228,228,228);
  border-radius: 5px;
}

.color-bar {
  background-color:  rgb(228,228,228);
  height: 4%;
  width: 100%;
  border-bottom: 3px solid rgb(46,46,46);
}
#footer {
  font-size: 10px;
}

.EDS {
  width: 30px;
  height: 30px;
}
#powered
{
  font-family: "arial" ;
  font-size: 12px;
}

#div_pozo h5 {
  padding-left: 10px;
  padding-bottom: 0px;
  color:#ffffff;
  background-color: #7d7d7d;
}

#div_pozo form {
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 20px;
    color:#ffffff;
    font-size: small;
    background-color: #aeaeae;
}

#datosZona form {
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 20px;
  color:#ffffff;
  font-size: small;
  background-color: #aeaeae;
}

#div_pozo form input {
  margin-right: 15px;
}

.inputStyle {
  padding-top: 2px;
  padding-bottom: 2px;  
}
